In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df = pd.read_csv("cleaned_output.csv")

In [3]:
df.head() # check whether file import worked

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [4]:
df.shape

(13200, 5)

TODO Tasks
- find the price per sqr feet for each case and summarize it
- Examine locations column to apply dimensionality reduction technique here to reduce number of locations
-

In [7]:
# Create a new column for Price per Sq.ft (Price column is in Lakhs)
df['price_per_sqft'] = df['price']*100000/df['total_sqft']
df.head(2)

                   location  total_sqft  bath   price  bhk  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615

Examine the locations

In [14]:
df['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [20]:
df['location'] = df['location'].apply(lambda x: x.strip())

In [22]:
len(df['location'].unique())

1287

In [26]:
location_stats = df['location'].value_counts()

In [34]:
location_stats_less_than_10 = location_stats[location_stats < 10]

In [35]:
location_stats_less_than_10.unique()

array([9, 8, 7, 6, 5, 4, 3, 2, 1], dtype=int64)

## Dimensionality Reduction
Any location having less than 10 data points should be tagged as "other" location. This way number of categories can be reduced by huge amount. Later on when we do one hot encoding, it will help us with having fewer dummy columns

In [36]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_stats_less_than_10 else x)

In [38]:
df['location'].value_counts()

other                    2732
Whitefield                533
Sarjapur  Road            392
Electronic City           304
Kanakpura Road            264
                         ...
Sadashiva Nagar            10
1st Block Koramangala      10
Dairy Circle               10
Nagadevanahalli            10
Ganga Nagar                10
Name: location, Length: 255, dtype: int64